@font-face {
	font-family: 'icomoon';
	src:url('../icon_fonts/icomoon/icomoon.eot?w6aef1');
	src:url('../icon_fonts/icomoon/icomoon.eot?w6aef1#iefix') format('embedded-opentype'),
		url('../icon_fonts/icomoon/icomoon.ttf?w6aef1') format('truetype'),
		url('../icon_fonts/icomoon/icomoon.woff?w6aef1') format('woff'),
		url('icon_fonts/icomoon/icomoon.svg?w6aef1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	font-family: icomoon;
	font-size: 40px;
	line-height: 65px;
	speak: none;
	color: #5D5D5D;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	overflow: hidden;
	transition: all .3s;
}
a:before,
a:after {
	transition: all .3s;
}